* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 500;
}

.main{
    display: flex;
    height: 100vh;
    width: 100%;
}
.left {
    width: 35%;
    background:no-repeat url('./images/bg-main-desktop.png');
    background-size: cover;
}
.right{
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.leftContent{
    /* display: none; */
    width: 40%;
    height: 50%;
}

input {
    padding: 0.8rem;
    margin-top: 0.5rem;
    display: block;
    width: 100%;
    height: 12%;
    border-radius: 7px;
    border: 1px solid hsl(270, 3%, 87%);
    font-size: 1.2rem;
  }
  
  input:focus,
  input:active {

    border-image: linear-gradient(90deg, hsl(249, 99%, 64%), hsl(278, 94%, 30%));
    border-image-slice: 1; /* Ensure the entire border is covered by the gradient */
  }  
  
.inputs{
    margin: 1.8rem 0;
}
.input_error{
    text-align: center;
}
.exp_inputs{
    display: flex;
    flex-wrap:wrap;
}
.exp{
    width: 50%;
    margin-right: 2rem;
}

.exp_inputs input{
    width: 100%;
    font-size:1rem;
    margin-left: 0.5rem;
}
#year {
    width: 38%;
    height: 30%;
}
#month{
    width: 38%;
}
#cvc{
    padding: 1.5rem;
}
.inlineText{
    display: flex;
    margin-bottom: 0.2rem;
}
button{
    width: 100%;
    padding: 0.8rem;
    border-radius: 10px;
    background-color: hsl(278, 68%, 11%);
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
}
button:hover{
    opacity: 90%;
}
.card{
    position: absolute;
}
.front{
    top: 15%;
    left: 10%;
}
.back{
    top: 55%;
    left: 17%;
}
.overCard{
    position: absolute;
}
#svg {
    top: 12%;
    left: 6%;
}
#number,#name,#expdate,#cvcnumber{
    color: #fff;
}
#number{
    top:40%;
    left:10%;
    font-size: 2rem;
}
#name {
    top:72%;
    left:5%;
}

#expdate{
    top:72%;
    left:80%; 
}
#cvcnumber{
    top: 35%;
    left: 80%;
    color: #fff;
    font-size: 1.3rem;
}
.done{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#thank_you{
    font-size: 2rem;
    margin-bottom: 0;
}
#messageText{
    margin-bottom: 2em;
}
.hide {
    display: none;
}
/* .attribution { font-size: 15px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); } */



@media (max-width: 1150px) {
    .main{
        flex-direction: column;
        height: 100vh;
        width: 100%;
    }
    .left, .right{
        width: 100%;
    }
    .left{
        background:no-repeat url('./images/bg-main-mobile.png');
        background-size: cover;
        height: 40%;
    }
    .card{
        position: none;
    }
    .back{
        top: 1%;
        left: 30%;
    }
    .front{
        top: 18%;
        left: 38%;
        z-index: 2;
    }
    img{
        width: 90%;
    }
    #svg{
        width: 20%;
    }
    .overCard {
        font-size: 0.7rem;
    }
    .inlineText input{
        font-size: 1rem;
    }
    .cvc_div label{
        margin-left: 1rem;
    }
    .leftContent {
        width: 60%;
    }
    .done{
        margin-top: 3rem;
    }
    .back #cvcnumber{
        left: 70%;
        font-size: 1.3rem;
    }
    .exp_inputs input{
        font-size: 0.5rem;
    }
}

@media (max-width: 700px) {
    img{
        width: 70%;
    }
    .overCard {
        font-size: 0.3rem;
    }
    .front img{
        width: 80%;
    }
    .front p{
        font-size: 0.7rem;
    }
    .back{
        top: 2%;
        left: 20%;
    }
    .front{
        top: 15%;
        left: 30%;
    }
    .inlineText input{
        font-size: 1rem;
    }
    #number{
        font-size: 1rem;
    }
    #expdate{
        top:72%;
        left:60%; 
    }
    .back #cvcnumber{
        top: 32%;
        left: 55%;
        color: #fff;
        font-size: 1rem;
    }
}
@media (max-width: 500px)
{
    #cvcnumber{
        top: 30%;
        font-size: 0.8rem;
    }
    
}